body {
    font-family: Arial;
}
.success {
    background-color: rgb(177, 231, 95);
    border: 1px solid rgb(18, 122, 18);
    color: rgb(1, 46, 1);
  } 
  
  .error {
    background-color: rgb(241, 120, 120);
    border: 1px solid rgb(241, 23, 23);
    color: rgb(80, 5, 5);
  }
  
 .warning {
    background-color: #e6e652;
    border: 1px solid rgb(235, 235, 4);
    color: rgb(117, 117, 0);
  }